<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="clickSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    (click)="clickOverview()"
  >
    <mat-icon>library_books</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="clickGenerator()">
    <mat-icon>shuffle</mat-icon>
  </button>
  <div class="title">
    <h1>Das ist ein Titel</h1>
  </div>
  <button mat-icon-button class="example-icon" (click)="clickAdd()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
