<header>
  <div class="icons">
    <div class="overview">
      <button
        mat-icon-button
        matTooltip="Rezeptübersicht öffnen"
        (click)="clickOverview()"
      >
        <fa-icon [icon]="faArchive"></fa-icon>
      </button>
    </div>
    <div class="generator">
      <button
        mat-icon-button
        matTooltip="Menügenerator öffnen"
        (click)="clickGenerator()"
      >
        <fa-icon [icon]="faDice"></fa-icon>
      </button>
    </div>
  </div>
  <h1>eatthis.ch</h1>
</header>
