@import "src/styles";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $primary-color;
  width: 100%;
  // justify-content: center;
  // align-items: center;
  height: 60px;
  h1 {
    display: flex;
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    margin: 0 0 5px 0;
    text-align: center;
    align-items: center;
    justify-self: center;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    fa-icon {
      font-size: 30px;
    }
    button {
      background-color: transparent;
      border: none;
    }
  }
}
