<div class="wrapper">
  <div matTooltip="Kalorien" matTooltipPosition="above" class="item">
    <table>
      <tr>
        <th>kcal</th>
      </tr>
      <tr>
        <td>{{ cal }}</td>
      </tr>
    </table>
  </div>
  <div matTooltip="Protein in g" matTooltipPosition="above" class="item">
    <table>
      <tr>
        <th>E</th>
      </tr>
      <tr>
        <td>{{ protein }}</td>
      </tr>
    </table>
  </div>
  <div matTooltip="Fett in g" matTooltipPosition="above" class="item">
    <table>
      <tr>
        <th>F</th>
      </tr>
      <tr>
        <td>{{ fat }}</td>
      </tr>
    </table>
  </div>
  <div matTooltip="Kohlenhydrate in g" matTooltipPosition="above" class="item">
    <table>
      <tr>
        <th>K</th>
      </tr>
      <tr>
        <td>{{ carbs }}</td>
      </tr>
    </table>
  </div>
</div>
