.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: beige;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
  }

  .content {
    height: 100%;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .health-wrapper {
    margin-left: 16px;
    margin-bottom: 16px;
  }
}
