<div class="wrapper">
  <img src="../../../../assets/images/placeholder.jpg" alt="placeholder" />
  <div class="content">
    <h2 class="title">{{ menu.title }}</h2>
    <p class="description">{{ menu.description }}</p>
    <p class="calories">{{ menu.energy_cal }} kcal</p>
    <div class="health-values">
      <div class="protein">
        <p>{{ menu.protein_g }}</p>
      </div>
      <div class="fat">
        <p>{{ menu.fat_g }}</p>
      </div>
      <div class="carbohydrate">
        <p>{{ menu.carbohydrate_g }}</p>
      </div>
    </div>
  </div>
</div>
