<div class="generator">
  <h2>Menu Generator</h2>
  <div class="settings">
    <form [formGroup]="group" (ngSubmit)="submit()">
      <div class="kcal-slider">
        <p>Kalorien: {{ group.get("kcal")?.value }}</p>
        <mat-slider
          [min]="kcalMin"
          [max]="kcalMax"
          step="100"
          formControlName="kcal"
        ></mat-slider>
      </div>

      <div class="number-input">
        <p>Anzahl Rezepte</p>
        <div class="input">
          <button (click)="changeValue(false)">-</button>
          <input
            min="1"
            max="10"
            type="number"
            placeholder="5"
            class="recipeNumber"
            formControlName="numOfRecipes"
            [ngClass]="{ error: !group.get('numOfRecipes')?.valid }"
          />
          <button (click)="changeValue(true)">+</button>
        </div>
      </div>
      <button mat-raised-button type="submit">Menu generieren</button>
      <button mat-raised-button class="pdf-button" type="button" (click)="generatePDF()">PDF generieren</button>
    </form>
  </div>

  <div class="result-wrapper">
    <div class="result">
      <!-- DESKTOP -->
      <div
        *ngFor="let menuItem of menus; let i = index"
        class="menu-item-desktop"
        [ngStyle]="{
          height: hover ? maxHeight + 'px' : ''
        }"
        (mouseover)="hover = true"
        (mouseleave)="hover = false"
      >
        <div class="image">
          <img
            class="previewImg"
            [src]="getImageURL(menuItem.image_id)"
            alt="Vorschau Bild"
            (click)="openMenu(menuItem.id)"
          />
          <button
            mat-icon-button
            (click)="lockMenu(menuItem.id)"
            [ngStyle]="{
              bottom: 60 + 'px',
              left: imgWidth / 2 - 15 + 'px',
              display: this.lockedMenuIds.includes(menuItem.id)
                ? 'inline'
                : 'none'
            }"
            *ngIf="this.lockedMenuIds.includes(menuItem.id)"
          >
            <fa-icon [icon]="faLock"></fa-icon>
          </button>
          <button
            mat-icon-button
            (click)="lockMenu(menuItem.id)"
            [ngStyle]="{
              bottom: 60 + 'px',
              left: imgWidth / 2 - 15 + 'px'
            }"
            *ngIf="!this.lockedMenuIds.includes(menuItem.id)"
          >
            <fa-icon [icon]="faLockOpen"></fa-icon>
          </button>
        </div>
        <div
          class="content"
          [ngStyle]="{
            top: this.lockedMenuIds.includes(menuItem.id) ? '-40px' : '0'
          }"
          (click)="openMenu(menuItem.id)"
        >
          <p>{{ menuItem.title }}</p>
          <p>{{ menuItem.description }}</p>
        </div>
      </div>

      <!-- MOBILE  -->
      <div
        class="menu-item-mobile"
        *ngFor="let menuItem of menus; let i = index"
      >
        <div class="image">
          <img
            class="previewImg"
            [src]="getImageURL(menuItem.image_id)"
            alt="Vorschau Bild"
            (click)="openMenu(menuItem.id)"
          />
          <button
            mat-icon-button
            (click)="lockMenu(menuItem.id)"
            [ngStyle]="{
              bottom: 60 + 'px',
              left: imgWidth / 2 - 15 + 'px',
              display: this.lockedMenuIds.includes(menuItem.id)
                ? 'inline'
                : 'none'
            }"
            *ngIf="this.lockedMenuIds.includes(menuItem.id)"
          >
            <fa-icon [icon]="faLock"></fa-icon>
          </button>
          <button
            mat-icon-button
            (click)="lockMenu(menuItem.id)"
            [ngStyle]="{
              bottom: 60 + 'px',
              left: imgWidth / 2 - 15 + 'px'
            }"
            *ngIf="!this.lockedMenuIds.includes(menuItem.id)"
          >
            <fa-icon [icon]="faLockOpen"></fa-icon>
          </button>
        </div>
        <div class="content" (click)="openMenu(menuItem.id)">
          <p>{{ menuItem.title }}</p>
          <p>{{ menuItem.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
