.generator {
  h2 {
    margin-left: 16px;
  }
}
.settings {
  margin-bottom: 32px;
  p {
    font-size: 16px;
  }
  form {
    display: flex;
    width: 100%;
    justify-content: space-around;
    @media only screen and (max-width: 825px) {
      flex-direction: column;
      align-items: center;
      .number-input {
        margin: 0 0 16px 0;
      }
      .pdf-button {
        margin-top: 10px;
      }
    }
  }
}

.kcal-slider {
  @media only screen and (max-width: 825px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
  }
  text-align: center;
  width: 20%;
  mat-slider {
    width: 100%;
  }
}

.number-input {
  margin-right: 100px;
  text-align: center;

  .input {
    button {
      border: none;
      background-color: whitesmoke;
      font-size: 20px;
      width: 30px;
      height: 30px;
      text-align: center;
      margin: 0 2px 0 2px;

      &:hover {
        background-color: lightgray;
        border: gray 0.5px solid;
        border-radius: 4px;
      }
    }

    input[type="number"] {
      height: 30px;
      width: 60px;
      border: solid lightgray 0.5px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      font-size: 20px;
      text-align: center;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.error {
  border: red 1px solid !important;
}

.result {
  display: grid;
  width: 98%;
  justify-content: center;
  grid-template: "a a a a a";
  grid-auto-columns: minmax(0, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  position: relative;
  margin-bottom: 32px;
  @media only screen and (max-width: 825px) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-item-desktop {
    position: relative;
    background-color: beige;

    &:hover {
      .image {
        button {
          display: inline;
          cursor: pointer;
        }
      }
      .content {
        position: relative;
        top: -40px !important;
        cursor: pointer;
      }
    }
    .image {
      button {
        position: relative;
        display: none;
      }
      fa-icon {
        font-size: 30px;
      }
    }
    img {
      width: 100%;
    }

    .content {
      position: relative;
      margin-left: 16px;
    }
  }

  .menu-item-mobile {
    position: relative;
    width: 95%;
    background-color: beige;
    margin-bottom: 16px;
    .image {
      button {
        position: relative;
      }
      fa-icon {
        font-size: 30px;
      }
    }
    img {
      width: 100%;
    }

    .content {
      position: relative;
      top: -40px !important;
      margin-left: 16px;
    }
  }
}

@media only screen and (max-width: 825px) {
  .menu-item-desktop {
    display: none;
  }
  .menu-item-mobile {
    display: inline;
  }
}

@media only screen and (min-width: 826px) {
  .menu-item-desktop {
    display: inline;
  }
  .menu-item-mobile {
    display: none;
  }
}

.result-wrapper {
  display: flex;
  justify-content: center;
}
